body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #637c81;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#canvas {
    border: 1px solid #CCCCCC;
}

#side-panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

#score-player1, #score-player2 {
    margin-bottom: 0;
    font-size: 20px;
    color: #333;
}
#score-player2{
    margin-bottom: 40px;
}
#score1{
    color: lightgreen;
}
#score2{
    color: yellow;
}

#reset-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#reset-button:hover {
    background-color: #45a049;
}
