body{
    margin: 0;
    background-image: url('images/bg.webp');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    font-family:sans-serif;
    color: white;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;               
    height: 100vh;
}


#canvas{
    margin: auto;
}


#a{
    display: flex;
    flex-wrap: wrap; /*mehrere Zeilen*/
    width: 10%;
    height: 200px;

    background-color: grey;
    border: solid 5px;
    border-color: rgb(17, 4, 77);
    border-radius: 20px;
    align-items: center;    /*mitte ihres Flexcontainers*/
    
}


#b{
    display: flex;
    width: 672px;
    height: 600px;

    background-color: rgb(54, 38, 97);
    border: solid 10px; 
    border-color: rgb(17, 4, 77);
    border-radius: 20px;
}


#c{
    width: 10%;
    height: 600px;

    background-color: grey;
    border: solid 5px;
    border-color: rgb(17, 4, 77);
    border-radius: 20px;

    text-align: center;     /*vertikal mitte*/
     
}

table{
    display: inline-block;
    border: solid 0px;
    width: 80%;
    border-collapse: collapse;
    
}   

tr{
   margin: 0;
}

td{
  border: solid 2px;
  padding: 0px;
  height: 20px;
  width: 50%; 
  overflow: hidden;
}

label{
    margin-left: 10px;
    margin-right: 5px;
}